body {
    background-color: #2E1E25;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 5px solid #7c7779;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 1px 1px;
}

li a:hover {
    background-color: #111;
}

footer {
    font-size:small;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


